.product {

    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__heading {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        font-weight: 400;
    }
    
    &__text {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        padding: 6px 0 48px;
    }
    
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__card {
        width: 360px;
        height: 581px;
        background-color: #F8F8F8;
        margin-bottom: 30px;
        overflow: hidden;
        margin-right: 30px;
    }

    &__card:nth-child(3n) {
        margin-right: 0;
    }

    &__card:hover .product__overlay {
        opacity: 1;
        animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
    }

    &__image {
        position: relative;
    }

    &__img {
        display: block;
    }

    &__overlay {
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    &__btn{
        display: flex;
        justify-content: center;
    }

    &__button-cart {
        background: transparent;
        border: 1px solid $color-white;
        font-size: 16px;
        line-height: 19px;
        color: $color-white;
        padding: 11px 17px 9px 14px;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition-duration: 0.3s;
    }

    &__button-cart:hover {
        background-color: $color-pink-1;
    }

    &__cart-img {
        margin-right: 11px;
    }

    &__info {
        margin: 20px 29px 0 16px;
    }
      
    
    &__titel {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #000;
    }

    &__titel:hover {
        text-decoration: underline black;
    }
  
    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        display: block;
        margin-top: 12px;
    }
    
    &__price {
        font-size: 16px;
        line-height: 19px;
        color: $color-pink-1;
    }
    
    &__button {
        margin-top: 18px;
        background-color: $color-white;
        border: 1px solid $color-pink-2;
        font-size: 16px;
        line-height: 19px;
        color: $color-pink-2;
        text-align: center;
        padding: 14px 39px;
        text-decoration: none;
    }
    
    &__button:hover {
        transition-duration: 0.4s;
        background-color: $color-pink-2;
        color: $color-white;
    }
}

@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

@media (max-width: 1192px) {
    .product {
        
        &__text {
            padding: 6px 0 73px;
        }

        &__button {
            margin-top: 16px;
        }

        &__cards {
            padding: 0px 25px;
        }

        &__cards_none &__card:last-child {
            display: none;
        }

        &__card {
            margin-right: 16px;
            margin-bottom: 16px;
        }

        &__card:nth-child(3n) {
            margin-right: 16px;
        }

        &__card:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 820px) {
    .product__cards {
        padding: 0 9.5px;
    }
}

@media (max-width: 787px) {
    .product {

        &__button {
            margin-bottom: 96px;
            margin-top: 24px;
        }

        &__card {
            margin: 0 8px 16px;
        }

        &__card:nth-child(2n) {
            margin-right: 8px;
        }

        &__card:nth-child(3n) {
            margin-right: 8px;
        }
    }
}