.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;

    &__item{
        width: 31.58%;
        height: 260px;
        background-color: #222;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        @include flex-column;
        color: $color-white;
        transition-duration: 0.2s;
        background-size: cover;
    }

    &__item:hover{
        font-size: 24px;
        line-height: 30px;
    }

    &__item:hover .category__text{
        transition-duration: 0.2s;
        font-size: 32px;
        line-height: 42px;
    }
    
    &__text {
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        color: $color-pink-3;
        font-weight: 700;
    }
    
    &__item_womens {
        background-image: url(../../img/category_womens.jpg);
        background-repeat: no-repeat;
    }
    
    &__item_mens {
        background-image: url(../../img/category_mens.jpg);
        background-repeat: no-repeat;
    }
    
    &__item_kids {
        background-image: url(../../img/category_kids.jpg);
        background-repeat: no-repeat;
    }
    
    &__item_accesories {
        background-image: url(../../img/category_accesories.jpg);
        background-repeat: no-repeat;
        margin-top: 30px;
        width: 100%;
        height: 180px;
    }
}

@media (max-width: 1192px) {
    .category {
        padding-bottom: 155px;

        &__item {
            height: 167px;
        }

        &__item_accesories {
            height: 116px;
        }
    }
}

@media (max-width: 787px) {
    .category {
        padding-bottom: 64px;

        &__item {
            width: 100%;
            height: 248px;
            margin-bottom: 32px;
        }

        &__item_accesories {
            margin: 0;
            height: 111px;
        }
    }
}